{% extends "base.html" %}

{% block content %}


<h2> {{article.tale_title}} </h2>
<h3> {{article.song_title}} </h3>
<p> {{article.tale_content}} </p>

<hr>
<p> 좋아요 </p> 
<p> 이 노래 플레이스트에 추가하기 </p>


<a href="{% url "articles:create" %}">내 인생곡 추천하기</a>

<hr> 
<form action="{% url "articles:delete" article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
</form>

<a href="{% url "articles:update" article.pk %}">수정하기</a>

<form action="{% url "articles:update" article.pk %}" method="POST">
    <input type="submit" value="수정하기">
</form>

{% endblock content %}







